.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkgray;
    padding: 20px;
    width: 100%;

}
#display{
    width: 100%;
}
#slider{
    width: 100%;
}
body{
    background-image: url();
}